@tailwind base;
@tailwind components;
@tailwind utilities;

/* Work Sans */
@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* BN Brick House */
@font-face {
    font-family: 'BN Brick House Heavy Alt';
    src: url('../assets/fonts/BNBrickHouseHeavyAlt.woff2') format('woff2'),
        url('../assets/fonts/BNBrickHouseHeavyAlt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-secondary;
}

p,
span,
a {
    @apply font-primary;
}

/* Marquee */
.introduction__logo {
    @apply h-[10vw] lg:h-[5vw] object-contain opacity-50 lg:w-[8vw] mr-[10vw];
}

/* Accordion */
.accordion {
    button[aria-expanded='true'] {
        + .accordion-content {
            opacity: 1;
            max-height: min-content;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }
    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
    }
}

/* Floating CTA */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.floating-cta svg {
    animation: rotate 7s linear infinite;
}

.floating-cta:after {
    content: '✋';
    font-size: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg) translate(-50%, -50%);
    transform-origin: 0 0;
}

/* Safelist */
.rotate-45 {
    transform: rotate(45deg);
}

/* Outlined text */
.outlined-text {
    @apply text-5xl min-[410px]:text-[3.25rem] lg:text-[130px] leading-none uppercase lg:pt-20 text-dark-green font-secondary tracking-[3px];
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e0e995;
}

.outlined-text-60 {
    @apply text-[60px] leading-none uppercase lg:pt-20 text-dark-green font-secondary tracking-[3px];
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e0e995;
}

/* Slick Slider */
.slick-list {
    @apply w-[150%] lg:w-[130%];
}
